{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": false
    },
    "target": "esnext",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": "./src",
    "paths": {
      "~/*": ["*"]
    }
  },
  "minify": true
}
